<div class="fondo-pantalla">
    <h2 class="colorh2">Buscar por precio</h2>
    <form>
        <label for="minPrice" class="colorh2">Precio mínimo:</label>
        <input type="number" name="minPrice" [(ngModel)]="min" [ngModelOptions]="{standalone: true}">
        <label for="maxPrice" class="colorh2">Precio máximo:</label>
        <input type="number" name="maxPrice" [(ngModel)]="max" [ngModelOptions]="{standalone: true}">
    </form>
    <br>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Información</th>
      </tr>
    </thead>
    <tbody>
  
      @for (juego of juegos; track juego) 
      { @if (juego.precio > min &&
      juego.precio < max) {
         <tr>
        <td>{{ juego.id }}</td>
        <td>{{ juego.nombre }}</td>
        <td>{{ juego.precio }}</td>
        <td>
          <!--///////////////////////////////-->
          @if( visualizar == juego.id ){
          <button (click)="ver(juego.id)">Imagen del juego</button>
          <img src="{{juego.url}}" alt="" height="200">
          } @else {
          <button class="btn btn-primary" (click)="ver( juego.id )">Imagen del juego</button>
          }
          <!--//////////////////////////////////-->
      </td>
  
      <td>
           <button [routerLink]="['/juegos-detalles', juego.id]">Ingresar a la informacion del juego</button>
           
      </td>
        </tr>
  
        } }
  
    </tbody>
  </table>