<div class="body">
    <section class="section">
        <h2 class="h2">¡Bienvenido al universo de los videojuegos! En nuestra plataforma, te sumergirás en un mundo lleno de emoción, aventura y desafíos emocionantes.</h2>
        <p class="p">Explora una amplia variedad de juegos, desde emocionantes títulos de acción hasta adictivos juegos de estrategia y experiencias de realidad virtual envolventes. ¡Encuentra tu próximo juego favorito y descubre nuevos mundos por explorar!</p>  
    </section>
    
    
