<div class="body">
    <section>
        <h2>¡Bienvenido al universo de los videojuegos! En nuestra plataforma, te sumergirás en un mundo lleno de emoción, aventura y desafíos emocionantes.</h2>
        <p>Explora una amplia variedad de juegos, desde emocionantes títulos de acción hasta adictivos juegos de estrategia y experiencias de realidad virtual envolventes. ¡Encuentra tu próximo juego favorito y descubre nuevos mundos por explorar!</p>  
    </section>
    
     <div>
        
     </div>
      <section class="videojuegos">
        <h2>Catálogo de Videojuegos</h2>
        <div class="videojuegos">
          <!-- Aquí se mostrarían los videojuegos disponibles -->
          <!-- Ejemplo de un videojuego -->
          <div class="videojuego">
            <img src="https://www.gearupbooster.com/o/pic/20230529/d3eaefbe-a13b-41c2-864c-48a6ee23b1ef.jpg" alt="Nombre del Videojuego">
            <h3>Fornite</h3>
            <p>Precio: $90</p>
            
            <button routerLink="productos">Mas productos</button>
          </div>
          <!-- Otros videojuegos se agregarían de manera similar -->
        </div>
      </section>
    

</div>
